{% extends 'base.html' %}

{% block title %}
All persons
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>All persons</h1>
    {% if persons|length > 0 %}
        {% for person in persons %}
        <div class="alert alert-info">
            <h2>{{ person.name.title() }}</h2>
            <p>{{ person.surname.title() }}</p>
            <p>{{ person.email }}</p>
            <a href="/person/{{ person.id }}/delete" class="btn btn-danger">Delete person</a>
        </div>
        {% endfor %}
    {% else %}
    <p>We have no persons yet</p>
    {% endif %}
    <a href="/" class="btn btn-success">Back</a>
</div>
{% endblock %}